<div class="app-container">
  <div class="container d-flex flex-column min-vh-100 justify-content-center align-items-center">
    <h1 *ngIf="!showBoard && !showListOfGames">TicTacToe</h1>

    <!-- game-list component -->
    <ng-container *ngIf="showListOfGames">
      <app-game-list></app-game-list>
    </ng-container>

    <!-- game-board component -->
    <ng-container *ngIf="showBoard">
      <app-board></app-board>
    </ng-container>

    <!-- Toggle board -->
    <button class="btn" (click)="toggleBoard()" *ngIf="!showListOfGames">{{buttonBoardLabel}}</button>
    <!-- Toggle list of games -->
    <button class="btn" (click)="toggleListOfGames()" *ngIf="!showBoard">{{buttonListOfGamesLabel}}</button>

  </div>
</div>
