<div class="game-list-container">
  <div>
    <br>
    <h5>List of games</h5>
    <div class="mt-3">
      <table class="table table-success table-bordered">
        <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col">Next Player</th>
          <th scope="col">Winner</th>
          <th scope="col">Status</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let game of games">
          <td>{{game.id}}</td>
          <td>{{game.description.nextPlayer}}</td>
          <td>{{game.description.winner}}</td>
          <td>{{gameStateToString(game.description.gameState)}}</td>
        </tbody>
      </table>
    </div>
  </div>
</div>
